.calc   {
  display: flex;
  flex-direction: column;
  background-color: $calc-color;
  width: 80%;
  height: 60%;
  min-height: 460px;
  max-width: 450px;
  padding: 10px;
  box-sizing: border-box;
  //border: 10px solid $btn-color;
  box-shadow: 0 5px rgba(0,0,0, .3),
              0 15px 20px rgba(0,0,0, .3);
  border-radius: 1%;
}

.sum  {
  margin: 0;
  //direction: rtl;
  flex-basis: 10%;
  font-family: 'Rajdhani', sans-serif;
  font-size: 25px;
  padding: 0 10px;
  color: $btn-color;
}

.result {
  background-color: $calc-color;
  color: $btn-color;
  flex-basis: 20%;
  //margin: 0;
  direction: rtl;
  font-size: 70px;
  font-family: 'Rajdhani', sans-serif;
  border:none;
  font-weight: 600;
  border-radius: 2%;
  //box-shadow: inset 0 10px 6px 1px $btn-text-color;
  &::selection  {
    background: $btn-text-color;
  }

}



.panel  {
  flex-basis: 70%;
  display: flex;
  margin-top: 5%;
  //flex-grow: 2;
  justify-content: space-between;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;

}



.column   {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button  {
  height: 14%;
  //flex-grow:1;
  display: block;
  background-color: $btn-color;
  border: none;
  color: $btn-text-color;
  font-size: 1.5rem;
  border-radius: 5%;
  box-shadow: 0 5px rgba($btn-color, .5),
  0 15px 20px rgba($btn-color, .5);

  &:hover {
    background-color: lighten( $btn-color, 10% );
  }
}
.delete, .deleteLastNumber, .deleteOneDigit {
  background-color: $delete-btn-color;
  box-shadow: 0 5px rgba($delete-btn-color, .5),
  0 15px 20px rgba($delete-btn-color, .5);
  &:hover {
    background-color: lighten( $delete-btn-color, 10% );
  }
}
.numbers, .oneNumberOperations[value="changeSign"]  {
  background-color: lighten($btn-color, 15%);
  &:hover {
    background-color: lighten($btn-color, 25%);
  }
}

input:focus, input:active, input:active, input:focus:active,
button:focus, button:active, button:focus:active {
  outline: none;
}

button:active {
  box-shadow: none;
  position: relative;
  top:5px;

}