@mixin mq-not-mobile  {
  @media (min-width: 740px), (min-height: 420px) and (orientation: landscape){
    @content;
  }
}
@keyframes clicked {
  50% {
    box-shadow: none;
    position: relative;
    top: 5px;
  }
}